<%- include('partials/header') %>
<h3>FAVORITES</h3>
<section>
    <h4>My Little Bio</h4>
    <% if (user) { %>
        <% if (user.bio) { %>
            <form action="/dancers/<%= user._id %>?_method=PUT" method="POST">
                <input type="text" name="bio" value="<% user.bio %>">
                <button type="submit" name="addBio">Update My bio</button>
            </form>
            <% } else { %>
            <form action="/dancers/<%= user._id %>" method="POST">
                <input type="text" name="content" value="What makes you jive">
                <button type="submit" name="addBio">Add my bio!</button>
            </form>
    <% } %>
    <% } else {} %>
    <p><%= user.bio %></p>
    <h4>Favorite Studios</h4>
        <div>
            <% if (user.favoriteStudios.length) { %>
                <% user.favoriteStudios.forEach(function(s) { %>  
                    <form action="/favorites/studio/<%= s._id%>?_method=DELETE" class="delete-form" method="POST">
                        <input type="hidden" name="favoriteStudios" value="${s._id}" class="btn remove">
                        <button type="submit">X</button>
                    </form>
                <%= s.name %><br>
                <% }); %>
            <% } else  { %>
                <p>No Favorite Studios</p>
            <% } %>
        </div>
        <h4>Favorite Classes</h4>
        <div>
            <% if (user.favoriteClasses.length) { %>
                <% user.favoriteClasses.forEach(function(c) { %>  
                    <form action="/favorites/class/<%= c._id%>?_method=DELETE" class="delete-form" method="POST">
                        <input type="hidden" name="favoriteClasses" value="${c._id}" class="btn remove">
                        <button type="submit">X</button>
                    </form>
                    <%= c.title %> || <%= c.day %>, <%= c.time %><br>
                <% }); %>
            <% } else  { %>
                <p>No Favorite Classes</p>
            <% } %>        
        </div>
</section>
<%- include('partials/footer') %>