<%- include('partials/header') %>
<h3>FAVORITES</h3>
<section>
    <h4>Favorite Studios</h4>
        <div>
        <% if (user._id.favoriteStudios.length) { %>
            <%= studio.name %>
            <% }; %>
        </div>
    <h4>Favorite Classes</h4>
        <div>
            <% if (user._id.favoriteClasses.length) { %>
            <%= class.name %> || <%= class.day %>, <%= class.time %>
        <% }; %>
        </div>
</section>
<%- include('partials/footer') %>