<%- include('partials/header') %>
<h3>FAVORITES</h3>
<section>
    <h4>Favorite Studios</h4>
        <div>
        <% if (dancers.favoriteStudios.length) { %>
            <%= studio.name %>
            <% }); %>
        <% } else { %>
        <p>No Favorite Studios Yet<p>
    <% } %></div>
    <h4>Favorite Classes</h4>
        <div>
            <% if (dancers.favoriteClasses.length) { %>
            <%= class.name %> || <%= class.day %>, <%= class.time %>
        <% }); %>
    <% } else { %>
    <p>No Favorite Classes Yet<p>
    <% } %></div>
</section>
<%- include('partials/footer') %>