<%- include('../partials/header') %>

    <h3>STUDIOS</h3>
    <section>
    <div class="container">
        <div class="row row-cols-4">
            <% studios.forEach(function(s) { %>  
                <div class="col">
                <img src=<%= s.image %>><br>
                <%= s.name %>
                <br>
                <a href="/studios/<%= s._id %>">STUDIO DETAILS</a>
                </div>
        <% }); %>
</section> 
<br>
<%- include('../partials/footer') %>
