<%- include('../partials/header') %>

    <h3>STUDIOS</h3>
    <section>

        <% studios.forEach(function(s) { %>  
            <div><img src=<%= s.image %>></div>
            <div><%= s.name %></div>
            <div><a href="/studios/<%= s._id %>">STUDIO DETAILS</a></div>
        <% }); %>
</section> 
<%- include('../partials/footer') %>
