<%- include('../partials/header') %>

    <h3><%= studio.name %></h3>
    <section>
        <div><img src=<%= studio.image %>></div>
        <div><%= studio.name %></div>
    </section>
    
    <section>
        <form id="add-favorite" action="/favorites/studio/<%= studio._id%>" method="POST">
            <input type="hidden" name="favoriteStudios" value="${studio._id}" class="btn fave">
            <% if(!user.favoriteStudios.includes(studio._id)) {%>
                <button type="submit"><img src="https://i.imgur.com/h6EHJ1n.png" class="fave" disabled></button>
            <% } %>
          </form>
        <div><%= studio.location %></div>
        <div><%= studio.description %></div>
    </section> 
    <div>See all <%= studio.name %>'s Classes</div>


<%- include('../partials/footer') %>
