<%- include('../partials/header') %>

<h3>CLASSES</h3>
    <section>
        <div>
            <a href="/classes/new">Add Class</a>
        </div>
        <% classes.forEach(function(c) { %>  
            <div><%= c.title %></div>
            <div><%= c.day %>, <%= c.time %> || <%= c.duration %></div>
            <div>Level: <%= c.level %> || Style: <%= c.style %></div>
            <div><%= c.description %></div>
            <div><%= c.title %></div>
            <div><a href="/classes/<%= c._id %>">CLASS DETAILS</a></div>
        <% }); %>
    </section> 

    <%- include('../partials/footer') %>