<%- include('../partials/header') %>

<h3>CLASSES</h3>
<section>
    <div class="container">
        <div class="row row-cols-4">
            <% classes.forEach(function(c) { %>
            <div>
                <p><%= c.title %></p>
                <p><%= c.day %>, <%= c.time %> || <%= c.duration %></p>
                <p>Level: <%= c.level %> || Style: <%= c.style %></p>
                <p><%= c.description %></p>
                <p><a href="/classes/<%= c._id %>">CLASS DETAILS</a></p>
            </div>
            <% }); %>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>