<%- include('../partials/header') %>
<h3><%= title %></h3>
<section>
        <div><%= danceClass.title %></div>    
        <form id="add-favorite" action="/favorites/class/<%= danceClass._id%>" method="POST">
            <input type="hidden" name="favoriteClasses" value="${danceClass._id}" class="btn fave">
            <% if (user) { %>
                <% if(!user.favoriteClasses.includes(danceClass._id)) {%>
                <button type="submit" class="btn">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <!-- <img src="https://i.imgur.com/h6EHJ1n.png" class="fave" disabled> -->
                </button>
            <% } %>        
            <% } else {}%>        
        </form>
        <div><%= danceClass.image %></div>
        <div><%= danceClass.day %></div>
        <div><%= danceClass.hour %> <%= danceClass.time %></div>
        <div>Style: <%= danceClass.style %> || Level: <%= danceClass.level %></div>
        <div><%= danceClass.description %></div>
    </section> 

<%- include('../partials/footer') %>